body {
    background: lightgrey;
    margin: 0;
    font-family: 'Helvetica';
}

header{
    font-weight: bold;
    width: 100%;
    background: white;
    padding: 10px 0px;
}

header h1{
    width: 40%;
    margin: 0 auto;
    background: white;
}

.post {
    background: white;
    width: 40%;
    margin: 20px auto;
}

.post img {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.header {
    vertical-align: bottom;
    padding: 15px;
}

.header h2{
    display: inline;
}

.header p{
    display: inline;
    margin: 0;
    color: lightgrey;
    float: right;
}

.footer {
    padding: 15px;
}

.footer p{
    margin: 0;
}